@font-face {
  font-family: "Bebas-Title";
  src: url("/fonts/bebas.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bebas-Text";
  src: url("/fonts/bebas.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
