---
import Header from '../components/LayoutComponents/Header/Header';
import Footer from '../components/LayoutComponents/Footer/Footer';
import { ViewTransitions } from 'astro:transitions';
import '../styles/fonts.css';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="description" content={description} />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <ViewTransitions />
</head>
<body>
  <Header client:load />
  <main>
    <slot />
  </main>
  <Footer />
</body>
</html>

